body{
    background-color: gold;
}
.header{
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    color: brown;
}
.footer{
    color: crimson;
}
























